---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePhoto from '../images/profile.jpg';
---
<Layout title="Jaewon Hur">
	<Image src={profilePhoto} alt="Jaewon Hur" width={280} height={350} densities={[1, 2, 3]} class="profile-photo" />
	<h1>Jaewon Hur</h1>
	<p>
		I am a new college grad from Univeristy of California, Berkeley majoring Electrical Engineering & Computer Science (EECS).
		I'm interested in building hardware, VLSI design, and computer architecture.
	</p>
</Layout>

<style>
	.profile-photo {
		display: block;
		width: 280px;
		height: 350px;
		object-fit: cover;
		padding: 4px;
	}
</style>
