---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---
<Layout title="Projects | Jaewon Hur">
	<h1>Projects</h1>
	<ul class="project-list">
		{projects.map((project) => (
			<li>
				<a href={`/projects/${project.id}`}>{project.data.title}</a>
				<p>{project.data.description}</p>
			</li>
		))}
	</ul>
</Layout>

<style>
	.project-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.project-list li {
		padding: 1.25rem 0;
		border-bottom: 1px solid var(--color-divider);
	}

	.project-list li:first-child {
		padding-top: 0;
	}

	.project-list a {
		font-family: 'EB Garamond', Georgia, serif;
		font-size: 1.25rem;
		font-weight: 700;
	}

	.project-list p {
		margin: 0.4rem 0 0;
	}
</style>
